html{
    background-color: black;
}
.center{
    text-align: center;
}
#navbar{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(99, 96, 96);
    justify-content: flex-end;
    flex-wrap: wrap;
}
li{
    display: inline;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .25em;
    text-decoration: none;
}