html{
    background-color: black;
}
.center{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}
.navflexbase{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgb(49, 49, 49);
}
.navheight{
    height: 60px;
}
.navshrink{
    flex-shrink: 0;
    box-sizing: border-box;
}
.navletters{
    display: inline;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-family: Arial,sans-serif;
}
.navhalf{
    display: inline-block;
}

#searchbar{
    border-radius: 200em;
    background: grey;

}