div{
    display: block;
}
.center{
    height: 100%;
    width: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}
.navflexbase{
    display: flex;
    align-items: center;
    padding: 10px;
}
.navheight{
    height: 60px;
}
.navshrink{
    flex-shrink: 0;
    box-sizing: border-box;
}
.navletters{
    display:inline-flex;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-family: Arial,sans-serif;
}
.navlettersright{
    vertical-align: middle;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-family: Arial,sans-serif;
}
.navhalf{
    margin-left: auto;
}
.icons{
    padding: 15px;
}